#heading {
    padding: 20px;
    height: 30px;
    margin-bottom: 10px;
    background: #dddddd;
    border: thin solid darkGray;
}

#footer {
    width:100%;
    height:18px;
    bottom:0;
    background: #dddddd;
    border: thin solid darkGray;
    margin-top: 10px;
}

.footer {
    font-size: 1.0em;
    font-style: italic;
    text-align: center;
}

#sidebarLeft {
    border: thin solid lightGray;
    padding: 5px;
    width: 200px;
    background: #eeeeee;
    float: left;
}

#content {
    background: #fefeef;
    height: auto;
    margin-left: 220px;
}

.header {
    font-size: 1.4em;
    font-style: italic;
    font-family: Palatino;
    text-align: center;
}

.projectImage {
    padding: 5px;
}

.panelGridMenu {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

.panelGridLogin{
    margin: 130px 0px 0px 100px; 
    width:800px;
}

.outMessage{
    margin-bottom: 30px;
}

.planetImageSelected {
    padding: 5px;
    text-align: center;
    background: #fefeef;
    border: thin solid lightGray;
}

.welcome {
    font-style: italic;
    font-family: Palatino;
}

.welcomeImage {
    margin-top: 10px;
    text-align: center;
}
